name: Crust Pinner Template
on:
  # mannual trigger
  workflow_dispatch:

jobs:
  pin_on_crust:
    name: Pin template website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      
      - name: Upload to crustwebsites
        uses: crustio/ipfs-upload-action@v2.0.2
        id: uploadsite
        with:
          path: './.github/template'
          seeds: ${{ secrets.CRUST_SEEDS }}
      
      - name: Pin to Crust
        id: pintocrust
        uses: crustio/ipfs-crust-action@v2.0.7
        continue-on-error: true
        with:
          cid: ${{ steps.uploadsite.outputs.hash }}
          seeds: ${{ secrets.CRUST_SEEDS }}
